nav {
  padding-bottom: 10vh;
}

// NAVBAR
.navFull {
  margin: 0 auto;
  padding: 0 40px;
  background: black;
  height: 9vh;
  line-height: 9vh;
}

.navItem, .navItem.right, .navItem.right .inputSearch, ::-webkit-input-placeholder {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.navItem, .appLogo, .searchLogo {
  height: 9vh;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  font-size: 1vh;
  background-color: inherit;
  color: white;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.appLogo {
  vertical-align: middle;
  height: 5vh;
  transition: none;
}

.navItem:hover, .navBurger .navBurgerLinks .navItem:hover {
  background-color: white;
  color: black;
  opacity: 0.9;
}

// SEARCHBOX //
.navItem.right {
  display: flex;
  float: right;
  vertical-align: top;
  background-color: rgb(76,76,76);
  padding: 0 10px;
  height: 50%;
  margin-top: 2.5vh;
  opacity: 1;

  .inputSearch {
    box-sizing: border-box;
    width: calc(100% - 20px);
    border: none;
    height: 4vh;
    background-color: transparent;
    outline: none !important;
    transition: transform .5s, padding .5s;

    &:focus {
      transform: scale(1.1);
      padding-left: 3%;
    }
  }

  .searchLogo {
    height: 2vh;
    // box-sizing: border-box;
    margin-top: 1.3vh;
    // margin-left: 2vw;
    outline: none !important;
    transition: transform .5s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

// EXPANDED NAVIGATION //
.navFull {
  display: none;
  margin: 0 auto;
}

// BURGER NAVIGATION //
.navBurger {
  z-index: 999999;
  background-color: black;
  height: 10vh;
  position: fixed;
  margin-top: 0;
  width: 100vw;
  line-height: calc(90vh / 6);

  .burgerLogo {
    padding-top: 0.5vh;
    height: 10vh;
    width: 10vh;
    float: left;
    cursor: pointer;

    &#true {
      span { border-bottom: 1vh solid white }
    }

    span {
      width: 8vh;
      border-bottom: 1vh solid #4c4c4c;
      border-radius: 5%;
      display: block;
      padding-top: 1.5vh;
      margin-left: 1vh;
      transition: border-bottom .5s;
    }
  }

  .navItem.right {
    height: 8vh;
    margin: 1vh 1vh;

    .inputSearch {
      margin: 2vh 0 0 1vh;
      font-size: 2vh;
      width: initial;
    }

    .searchLogo {
      height: 3vh;
      margin-top: 2.5vh;
    }
  }

  .navBurgerLinks {
    transition: visibility .5s ease-in-out, opacity .5s ease-in-out;
    margin-top: 10vh;
    height: 90vh;
    background: black;

    &#false {
      opacity: 0;
      visibility: hidden;
    }

    &#true {
      opacity: 1;
      visibility: visible;
    }

      .navItem {
        text-align: center;
        width: 100%;
        height: calc(90vh / 6);
        font-size: 5vh;
        padding: 0;
      }
    }
  }

@media (min-width: 900px) {
  nav {
    padding-bottom: 0;
  }
  .navFull {
    display: block;
  }

  .navBurger {
    display: none;
  }

  .page-layout__viewport {
    padding-top: 5vh;
  }
}

@media only screen {
  .navBurger:focus {
    span { border-bottom: 1vh solid white }
  }

}